body {
  background-color: purple;
}
h1, h2 {
  color: white;
  background-color: pink;
  padding: 10px;
  border-bottom: 1px solid black;
  text-align: center;
  font-family: 'Pacifico', cursive;
}
a {
  color: white;
}
form {
  padding: 20px;
  margin: 20px;
}
label{
  margin-right: 10px;
}
div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:14px;
  border-top: 1px solid white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: auto;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  text-decoration: none;
  color: white;
  
}
input.btn-submit {
  padding: 6px 16px;
  border: 1px solid #446d88;
  background: #58a linear-gradient(#77a0bb, #58a);
  border-radius: 4px;
  box-shadow: 0 1px 5px gray;
  color: white;
}