@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer
<h2>Approve another machine for this engineer</h2>

<div class="main">
  <h4>Approve a machine for this engineer: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" class="btn btn-submit" />
  }


</div>